@media screen and (max-width:400px) {

    .login_body{
        padding: 3px;
        
        
        width: 90%;
        height: 70%;
       
    
    }
    body{
    
        
        background-image:url(https://scontent.fsod12-1.fna.fbcdn.net/v/t1.6435-9/69253111_2516112198454531_757306676788330496_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHoAfHwZGJ4oT3BCLQdsuSX0FcMxVzzDWTQVwzFXPMNZMqRLMCDyNDJf8F1rMzEzOaK34o6zgMlP8iats6DJpm5&_nc_ohc=YInG2pWa7JoAX_GWtdS&_nc_ht=scontent.fsod12-1.fna&oh=00_AT-AWDUQHyEZSP9dvK8FKyUvhC6CY9kOyJhrYxkSvXjj-w&oe=63282113) ; ;

    }
    .logo{
        font-size:15px ;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .login_body h2{
        font-size: 18px;
        color: #fff;
        margin: 3px;
       
  
   
   
    }

    .input_box {
        margin-bottom: 7px;
        margin: 5px;
     
    }
   .login_body input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 8px;
    box-sizing: border-box;

   }

   .login_body button{
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    width: 95%;
   }
   .submit a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 900;
}
.terms a {
    text-decoration: none;
    color: #0071eb;
    
    
}
    
}