@media screen and (max-width:400px) {

    .login_body{
        padding: 3px;
        
        
        width: 90%;
        height: 70%;
       
    
    }
    body{
    
        
        background-image:url('../img/capa.png') ; ;

    }
    .logo{
        font-size:15px ;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .login_body h2{
        font-size: 18px;
        color: #fff;
        margin: 3px;
       
  
   
   
    }

    .input_box {
        margin-bottom: 7px;
        margin: 5px;
     
    }
   .login_body input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 8px;
    box-sizing: border-box;

   }

   .login_body button{
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    width: 95%;
   }
   .submit a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 900;
}
.terms a {
    text-decoration: none;
    color: #0071eb;
    
    
}
    
}